<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--timesamp等数据都是发生404异常的时候springboot自动返回的，这些数据在浏览器中以页面的形式展示;
    如果是通过postman访问的话，我们得到的是json类型的数据-->
<p>From templates\error\404.html</p>

<p> 你来到了一片没有知识的平原 </p>
<table border="1">
    <tr>
        <td>timestamp</td>
        <td th:text="${timestamp}"></td>
    </tr>
    <tr>
        <td>status</td>
        <td th:text="${status}"></td>
    </tr>
    <tr>
        <td>error</td>
        <td th:text="${error}"></td>
    </tr>
    <tr>
        <td>path</td>
        <td th:text="${path}"></td>
    </tr>

</table>
</body>
</html>